h2 {
  position: relative;
  top: 0.5em;
}
h1 {
  font-family: fantasy;
  font-size: 5em;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-shadow: 6px 7px 2px lightgray;
  color: black;
}
.playerTitle {
  position: relative;
  bottom: 5em;
}
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: rgb(125, 125, 125);
  font-family: "Futura";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url('/images/bg-img-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.input {
  display: flex;
  justify-content: space-around;
}

/*.compChoice {
  display: flex;
  justify-content: space-around;
}
.compChoice button {
  margin: 2em;
  color: transparent;
  background-color: rgb(136, 187, 190);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 150px;
  width: 150px;
}*/
.input button {
  margin: 2em;
  color: transparent;;
  font-size: 2.5em;
  background-color: rgb(50, 50, 50);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 300px;
  width: 300px;
}
.input button:hover {
  color: black;
}

.input button.rock {
  background-image: url('../images/fist.jpg')
}

.input button.scissors {
  background-image: url('../images/handScissors.png')
}

.input button.paper {
  background-image: url('../images/judo.png')
}

.output {
  margin: auto 2em;
  font-size: 3em;
  padding: 1em;
  color: white;
}
.output2 {
  display: none;
  font-size: 5em;
  padding: 25px;
  margin: 25px;
}

button.reset {
  font-size: 3em;
  background-color: gray;
  display: none;
  color: white;
  margin: 50px;
}
.score {
  display: flex;
  justify-content: space-between
}
.score ul {
  align-self: center;
  list-style: none;
}

.score li {
  text-align: center;
  font-size: 1.5em
}
